.env
.DS_Store
.vsc
Computer Vision Mini Project.pdf
Dataset/
Dataset_resized_masks/
Dataset_resized/
DatasetOriginal/
Dataset2/
Computer Vision Mini-Project.pdf
wandb/
src/checkpoints/
src/__pycache__/